<p>details works!</p>



@if (OrderDetail$| async; as orderDetails) {
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Order ID: {{ orderDetails.id}}</h5>
      <h5 class="card-text">Cliente: {{  orderDetails.clientName }}</h5>
      <p class="card-text">Descrição: {{ orderDetails.description }}</p>
      <p class="card-text">Status: 
        @switch( orderDetails.status) {
          @case(1) {
            <span class="badge bg-primary">Aberto</span>
          }
          @case(2) {
            <span class="badge bg-warning text-dark">Em Progresso</span>
          }
          @case(3) {
            <span class="badge bg-success">Finalizado</span>
          }
          @default {
            <span class="badge bg-secondary">Desconhecido</span>
          }
        }
      </p>
    </div>
  </div>
} @else {
  <p>Carregando detalhes do pedido...</p>
}