<h1>Home</h1>

@if (ServiceManagerList$ | async; as OrdersList) {
  <div class="orlders">  
    
    @if (OrdersList.length > 0) {
      
      @for (Orders of OrdersList; track Orders.id) 
      {
        <div class="card mb-3">
          <div class="card-body">
            
            <h5 class="card-title">Order ID: {{ Orders.id }}</h5>
            <h5 class="card-text">Cliente: {{ Orders.clientName }}</h5>
            <p class="card-text">Descrição: {{ Orders.description }}</p>
            
            <p class="card-text">Status: 
              @switch(Orders.status) {
                @case(1) {
                  <span class="badge bg-primary">Aberto</span>
                }
                @case(2) {
                  <span class="badge bg-warning text-dark">Em Progresso</span>
                }
                @case(3) {
                  <span class="badge bg-success">Finalizado</span>
                }
                @default {
                  <span class="badge bg-secondary">Desconhecido</span>
                }
              }

              
            </p>
            </div>
          </div>
        }
      } @else {
      <p>Nenhum pedido encontrado.</p>
    }
    
  </div>
} @else {
  <p>Carregando pedidos...</p>
}