<nav>
  <li routerLink="/" style="cursor:pointer">Home</li>
    <li routerLink="/AddOrder" style="cursor:pointer">Adicionar Ordem de Serviço</li>
  <li></li>

</nav>


<div class="orlders">  
@if(ServiceManagerList.length>=0 ){


   @for (Orders of ServiceManagerList;track Orders.id) {

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Order ID: {{Orders.id}}</h5>
      <h5 class="card-text">Cliente: {{Orders.clientName}}</h5>
      <p class="card-text">Descrição: {{Orders.description}}</p>
      <p class="card-text">Status: {{Orders.status}}</p>
      <p class="card-text">Abertura: {{Orders.creatAt }}</p>
    </div>
  </div>}

}
    
</div>




 




